<% if signed_in? %>
  <%= render "shared/home_signed_in" %>
<% else %>
  <%= render "shared/home_not_signed_in" %>
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("railsCopy.png", alt: "copyRails"), 'http://rubyonrails.org/' %>


